.button {
    background-color: #96C0E6; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }

 
  .center {
    margin: 0;
    position: absolute;
    top: 650px;
    left: 700px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  #organDonor{
    background-color: #7030A0;    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }

 
  .organCenter {
    margin: 0;
    position: absolute;
    top: 315px;
    left: 1143px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }