.button {
    background-color: #96C0E6; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }

 
  .center {
    margin: 0;
    position: absolute;
    top: 840px;
    left: 790px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  #organDonor{
    background-color: #7030A0;    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }

 
  .organCenter {
    margin: 0;
    position: absolute;
    top: 410px;
    left: 1143px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .messagingTop{
    font-size: 20px;
    width: 1500px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
  }

  .messagingBottom{
    font-size: 20px;
    position: absolute;
    top: 710px;
    left: 340px;  
    padding-top: 20px;
    padding-bottom: 30px;  
    text-align: center;

  }
  .messagingBottom1{
    font-size: 20px;
    position: absolute;
    top: 710px;
    left: 410px;  
    padding-top: 20px;
    padding-bottom: 30px;  
    text-align: center;

  }

  #organDashboard{

  }